<!doctype html>

<head>

</head>
<div id="ws_on" class="{{ ws_on  }}"></div>
<script type="text/javascript">

 if (document.getElementById('ws_on').classList.contains('True')) {
     var ws = new WebSocket("ws://localhost:5000/answer");

     ws.onmessage = function(evt) {

         var data = JSON.parse(evt.data);
         var prog = document.getElementById("prog");

         switch (data["status"]){
             case "error":
                 document.getElementById("prog").innerHTML = "ERROR";
                 prog.classList.add("progress-bar-danger");
                 if (prog.classList.contains("progress-bar-warning")){
                     prog.classList.remove("progress-bar-warning");
                 }
                 if (prog.classList.contains("progress-bar-info")){
                     prog.classList.remove("progress-bar-info");
                 }
                 if (prog.classList.contains("progress-bar-success")){
                     prog.classList.remove("progress-bar-success");
                 }
                 prog.setAttribute("aria-valuenow", '100');
                 prog.setAttribute("style",'width:100%');
                 ws.close();
                 break;

             case "formulating answer":
                 document.getElementById("prog").innerHTML = "formulating answer";
                 prog.classList.add("progress-bar-info");
                 if (prog.classList.contains("progress-bar-warning")){
                     prog.classList.remove("progress-bar-warning");
                 }
                 if (prog.classList.contains("progress-bar-danger")){
                     prog.classList.remove("progress-bar-danger");
                 }
                 if (prog.classList.contains("progress-bar-success")){
                     prog.classList.remove("progress-bar-success");
                 }
                 prog.setAttribute("aria-valuenow", '75');
                 prog.setAttribute("style",'width:75%');
                 window.location.replace(window.location.href + "/prepare");
                 break;

             case "extracting words from website":
                 document.getElementById("prog").innerHTML = "extracting words from website";
                 prog.classList.add("progress-bar-danger");
                 if (prog.classList.contains("progress-bar-info")){
                     prog.classList.remove("progress-bar-info");
                 }
                 if (prog.classList.contains("progress-bar-warning")){
                     prog.classList.remove("progress-bar-warning");
                 }
                 if (prog.classList.contains("progress-bar-success")){
                     prog.classList.remove("progress-bar-success");
                 }
                 prog.setAttribute("aria-valuenow", '25');
                 prog.setAttribute("style",'width:25%');
                 break;

             case "calculating":
                 document.getElementById("prog").innerHTML = "calculating";
                 prog.classList.add("progress-bar-warning");
                 if (prog.classList.contains("progress-bar-info")){
                     prog.classList.remove("progress-bar-info");
                 }
                 if (prog.classList.contains("progress-bar-danger")){
                     prog.classList.remove("progress-bar-danger");
                 }
                 if (prog.classList.contains("progress-bar-success")){
                     prog.classList.remove("progress-bar-success");
                 }
                 prog.setAttribute("aria-valuenow", '50');
                 prog.setAttribute("style",'width:50%');
                 break;
         }
     };

 }
</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>

    <div class='container'>



        <div class='title'>
            Forbidden Content Detector
        </div>

        <div class='subtitle'>
            Type an URL and press Submit.
            <br>
            A Machine Learning model will analyse the website and classify it's content
        </div>


        <div class="progress">
            <div id="prog" class="{{ 'progress-bar progress-bar-' + status[0] }}" role="progressbar" aria-valuenow="{{ status[1] }}"
                 aria-valuemin="0" aria-valuemax="100" style="{{ 'width:' + status[1] + '%' }}">
                {{ key }}
            </div>
        </div>


        <form method="post">
            <div class="form-input">

                <input class="text" name="url" id="url" onfocus="if (this.value=='URL') this.value = ''" onfocusout="if (this.value=='') this.value = 'URL'" value="URL" required>

            </div>

            <input type="submit" value="Submit" class='submit-button'>

            <div class="form-input keywords">
                <input class="text" name="keywords" id="keywords" onfocus="if (this.value=='keywords (optional, comma separated)') this.value = ''" onfocusout="if (this.value=='') this.value = 'keywords (optional, comma separated)'" value="keywords (optional, comma separated)">
            </div>

            <div class="checkbox-wrap">

                <label for="forcecalc">Force Recalculation
                    <input type="checkbox" name="forcecalc" id="forcecalc" value="{{ request.form['forcecalc'] }}" />
                    <span class="checkmark"></span>
                </label>
            </div>
        </form>

        {% if status[0] == 'success' %}
            <div class="title veredict">
                Veredict:
                <span class="{{ 'title veredict ' + veredict }}"> {{ veredict }}</span>
            </div>

            <div class="explanation">
            <div class="explanation-text explanation-title">
                Explanation:
            </div>

            {% if veredict == 'RESTRICTED' %}
            <div class="explanation-text">
                The entered website contains, among others, the following words:
            </div>
            <div class="{{ 'explanation-words ' + veredict }}">
                <ul>
                {% for word in expl_words %}
                <li>
                    {{ word }}
                </li>
                {% endfor %}
                </ul>
            </div>

            <div class="explanation-text">
                That are highly related to:

            </div>

            <div class="{{ 'title veredict veredict-label ' + veredict }}"> {{ label }}</div>


            <div class="explanation-text">
                which is forbidden content
            </div>

            </div>


            {% else %}
            <div class="explanation-text explanation-title">
                The content of the entered website is classified as permitted
            </div>

            {% endif %}



            {% endif %}


    </div>

</body>
